body {
  font-family: sans-serif;
  font-size: 110%;
  background-color: #406a7b;
}

header {
  text-align: center;
  background-color: rgb(156, 62, 74);
}

footer {
  background-color: rgb(148, 110, 110);
  text-align: center;
}

h2 {
  color: red
}

/* ID Selector */
#skillsSection {
  color: black
}

/* Class Selectors */
.educationText {
  color: black;
}

#photoBox {
  background-color: orangered;
  padding: 10px;
  margin: 20px;
  border: 15px solid black;
  border-radius: 47%;
}

#contactsText {
  color: rgb(156, 62, 74);
  font-size: large;
}

#sidebar{ 
  width: 20%;
  background-color: rgb(142, 207, 233);
  padding: 1rem;
}
.navList{ 
  list-style-type: none;
  padding:10% ;
}