body {
  font-family: sans-serif;
  font-size: 110%;
  background-color: #9c95a7;
}

header {
  text-align: center;
  background-color: gray;
}

footer {
  background-color: #343330;
  text-align: center;
}

h2 {
  color: blue
}

/* ID Selector */
#skillsSection {
  color: black
}

/* Class Selectors */
.educationText {
  color: black;
}

#photoBox {
  background-color: orangered;
  padding: 10px;
  margin: 20px;
  border: 15px solid black;
  border-radius: 47%;
}

#contactText {
  color: lawngreen;
  font-size: large;
}

#sidebar{ 
  width: 20%;
  background-color: skyblue;
  padding: 1rem;
}
.navList{ 
  list-style-type: none;
  padding: ;
}